* {
    box-sizing: border-box;
  }
  ul {
     list-style-type:none;
     margin: 0;
      padding: 0;
  }
  .flex-container {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .flex-item{
    width: 50%;
    padding: 10px;
    text-align: center;
    justify-content: center;
  }
  .paragraph-container{
    width: 50%;
    padding: 10px;
  }
  .icon{
    border: 1px black solid;
    border-radius: 100px;
    background:black;
    float:right;
    padding:15px;
    margin: 10px;
  }
